#categories-tree
  .alert.alert-info.no-margin.margin-top-10


:coffee
  $ ->
    Tree.init('#{tree_categories_path}', '#categories-tree', '#category-modal', '#categories-container', '.tree-action', '#tree-search')
